.searched {
  background-color: aquamarine;
  align-content: space-between;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}
.unsearched {
  align-content: space-between;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}
.MainFrame {
  td {
    vertical-align: top;
  }
}
.FunctionBar {
  align-content: space-between;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}
.ColumnBar {
  table {
    width: 250px;
  }
}
.ColumnBar {
  table {
    width: 250px;
  }
}
.addButton {
  margin-top: 50px;
}